<div class="form-input_wrapper {{class}}">
    <label for="{{name}}" id="{{labelId}}" class="form-input_placeholder">{{label}}</label>
    <input
        id="{{name}}"
        name="{{name}}"
        type="{{type}}"
        accept="{{accept}}"
        multiple="{{multiple}}"
        class="js-input"
        placeholder="{{placeholder}}"
        value="{{value}}"
        {{attr}}
    >
</div>
