<div class="form-input_wrapper justify-between flex-row {{class}}">
    <label for="{{name}}">{{label}}</label>
    <input
        id="{{name}}"
        name="{{name}}"
        type="{{type}}"
        value="{{value}}"
    >
</div>
